/**
* @author Jungho
* @since 2023-04-17 05:37:57
* @version 1.0
* @desc 이미지를 선택하면 프리뷰로 보여주는 함수, 이미지는 총 2개 까지 가능합니다.
**/


/** media *****************************************************************************************/

@media (min-width: 1024px) {
  .imageLoader {
    width: 330px;
    height: 330px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .imageLoader {
    width: 330px;
    height: 330px;
  }
}

@media (max-width: 320px) {
  .imageLoader {
    width: 330px;
    height: 330px;
  }
}

/** keyframes *************************************************************************************/

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 0.5s ease-out;
}

/** previewSelect-group ***************************************************************************/


/** previewImage-group ****************************************************************************/
.imageLoader {
  opacity: 1.1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
  padding: 10px;
}

.imageBox {
  transition: opacity 0.3s;
}

/** previewMini-group *****************************************************************************/
.imageMiniLoader {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
  padding: 5px;
  margin: 5px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  vertical-align: middle;
  border-style: none;
}

.imageMiniBox {
  transition: opacity 0.3s;
}

/** previewButton-group ***************************************************************************/
.previewButton-group button, .previewButton-group button:active {
  outline: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  border-style: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
  margin-top: 9px;
  width: 65px;
  height: 25px;
}

.previewButton-group button:hover {
  font-weight: 800;
}

.resetButton, .resetButton:active {
  background-color: #ef7474;
}

.resetButton:hover {
  background-color: #ff0000;
}

.submitButton, .submitButton:active {
  background-color: #5c9f8e;
}

.submitButton:hover {
  background-color: #12b615;
}

.reloadButton, .reloadButton:active {
  background-color: #e7c93a;
}

.reloadButton:hover {
  background-color: #ffcc00;
}
